.auth-container {
  margin-top: 21vw;
}

.auth-form {
  margin-top: 10vw;
  padding: 0 5vw;
}

/*Инпуты*/
input:focus,
textarea:focus {
  outline: none;
}

.input-group {
  position: relative;
  margin-bottom: 8vw;
  border-bottom: 1px solid var(--color-text-cold);
}

.input-group input {
  width: 100%;
  background: transparent;
  border: none;
  padding: 2vw 0;
  color: var(--color-text-cold);
  font-size: 5vw;
}

.input-group input::placeholder {
  color: var(--color-text-cold);
  opacity: 0.8;
}

.forgot-password {
  position: absolute;
  right: 0;
  bottom: 2vw;
  color: var(--color-accent);
  font-size: 4vw;
  text-decoration: none;
}

/*чекбокс*/
.checkbox-group {
  display: flex;
  align-items: center;
  gap: 3vw;
  margin-bottom: 10vw;
}

/*другое*/
.social-login {
  text-align: center;
  margin-bottom: 10vw;
  padding: 0 5vw;
}

.social-title {
  color: var(--color-accent);
  font-size: 5vw;
  margin-bottom: 3vw;
  margin-top: 7vw;
}

.social-links {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
}

.social-links a {
  color: var(--color-text-cold);
  text-decoration: none;
  font-size: 4.5vw;
}

.btn {
  width: 100%;
  font-size: 4.86vw;
}

/* Футер авторизации */
.auth-footer {
  color: var(--color-text-cold);
  font-size: 4.5vw;
  padding: 0 5vw;
  margin-bottom: 5.86vw;
}

.register-link {
  color: var(--color-accent);
  text-decoration: underline;
  display: block;
  margin-top: 1vw;
}

/*адаптив пк*/
@media (min-width: 1024px) {
  /*поиск и фильтрация*/
  .content {
    margin-top: 28vw;
  }

  .auth-form {
    margin-top: 4vw;
    padding: 0;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
  }

  .input-group {
    margin-bottom: 4vw;
  }

  .input-group input {
    font-size: 1.8vw;
    padding: 1vw 0;
  }

  .forgot-password {
    font-size: 1.8vw;
    bottom: 1vw;
  }

  .checkbox-group {
    margin-bottom: 4vw;
    gap: 1vw;
  }

  .checkbox-group label {
    font-size: 1.8vw;
  }

  .btn {
    width: 60%;
    height: 5vw;
    font-size: 2vw;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-login {
    margin-right: 25vw;
    margin-bottom: 4vw;
  }

  .social-title {
    font-size: 1.8vw;
    margin-top: 4vw;
    margin-bottom: 2vw;
  }

  .social-links {
    justify-content: center;
    gap: 4vw;
  }

  .social-links a {
    font-size: 1.6vw;
  }

  .auth-footer {
    padding: 0 19.5vw;
    font-size: 16px;
    text-align: left;
  }

  .register-link {
    display: inline-block;
    margin-top: 5px;
  }
}
