:root {
  --color-bg: #384e39;
  --color-accent: #bd9d60;
  --color-text-cold: #e7f5e7;
  --color-text-warm: #efead7;
}

@font-face {
  font-family: "Headlines";
  src: url(fonts/PlayfairDisplay-заголовки.ttf);
}

@font-face {
  font-family: "TypedText";
  src: url(fonts/MontserratAlternates-наборный.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-cold);
  font-family: "TypedText";
  min-width: 320px;
}
section[id] {
  scroll-margin-top: 25vw;
}

/*заголовки*/
.heading {
  font-family: "Headlines";
  color: var(--color-accent);
  font-size: 6.76vw;
  margin-bottom: 4.35vw;
  margin-top: 6.76vw;
  margin-left: 3.62vw;
  font-weight: lighter;
}

/*кнопки*/
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-text-warm);
  color: var(--color-bg);
  font-size: 3.86vw;
  text-decoration: none;
  border-radius: 2.42vw;
  width: 43.24vw;
  height: 11.59vw;
  border: none;
  cursor: pointer;
}

/*бургер*/
.burger-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg);
  z-index: 1000;
  display: block;
  flex-direction: column;

  opacity: 0;
  visibility: hidden;
}

.burger-menu-overlay.active {
  opacity: 1;
  visibility: visible;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6.28vw;
  padding-bottom: 4.83vw;
  margin-right: 4.35vw;
  margin-left: 3.86vw;
}

.close-menu {
  width: 6.76vw;
  height: auto;
  cursor: pointer;
}

.menu-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.menu-list {
  list-style: none;
  margin-bottom: 6.76vw;
}

.menu-link {
  display: inline-block;
  font-family: "Headlines";
  font-size: 7.73vw;
  color: var(--color-text-cold);
  text-decoration: none;
  margin-bottom: 7.25vw;
  transition: all 0.3s ease-out;
}

.menu-link.active {
  text-decoration: underline;
  text-underline-offset: 2.42vw;
  text-decoration-thickness: 0.2vw;
  transform: translateX(4.83vw);
}

.menu-contacts {
  display: flex;
  flex-direction: column;
  gap: 4.35vw;
}

/* шапка */
main {
  margin-top: 22vw;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-bg);
  z-index: 999;
  padding: 6.28vw 3.86vw;
  margin-top: 0;
  margin-left: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 7.49vw;
  width: auto;
  cursor: pointer;
}

.burger-menu {
  width: 11.84vw;
  height: auto;
  cursor: pointer;
  margin-right: 3.86vw;
}

/*баннер*/
.title-1 {
  font-family: "Headlines";
  color: var(--color-accent);
  font-size: 9.18vw;
  margin-left: 9.9vw;
  margin-top: 4.83vw;
  font-weight: lighter;
}

.title-2 {
  font-family: "Headlines";
  color: var(--color-accent);
  font-size: 8.21vw;
  margin-left: 30.92vw;
  margin-top: -4.35vw;
  margin-bottom: 4.04vw;
  font-weight: lighter;
}

/*наборный текст*/
.description {
  font-size: 4.11vw;
  margin-bottom: 4.35vw;
  margin-right: 3.86vw;
  margin-left: 3.86vw;
}

.img-main {
  width: 43.48vw;
  height: auto;
  display: block;
}

.image-btn-banner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 3.86vw;
  margin-top: 4.35vw;
}

/*о нас*/
.about-img {
  width: 20vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: 3.86vw;
  margin-bottom: 4.35vw;
}

/*проекты*/
.pc-only {
  display: none;
}

.projects-img-large {
  width: 65.94vw;
  height: auto;
  margin-left: 3.86vw;
  margin-bottom: 4.35vw;
}

.projects-img-small {
  width: 43.24vw;
  height: auto;
}

.img-small-1 {
  display: block;
  margin-left: auto;
  margin-right: 3.86vw;
}

.img-small-2 {
  margin-top: -36.96vw;
}

.projects-btn-img {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 3.86vw;
  margin-top: 4.35vw;
}

/*подать заявку*/
.feedback-container {
  margin-top: 4.35vw;
}

.feedback-form input,
.feedback-form select {
  width: calc(100% - 7.72vw);
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--color-text-cold);
  color: var(--color-text-cold);
  font-size: 4.83vw;
  margin-left: 3.86vw;
  margin-right: 3.86vw;
  margin-bottom: 6.76vw;
  padding-bottom: 3.62vw;
  outline: none;
  font-family: "TypedText";
}

.feedback-form input::placeholder {
  color: var(--color-text-cold);
  opacity: 1;
}

.feedback-form select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10L12 15L17 10' stroke='%23e7f5e7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 5px) center;
  background-size: 8.45vw;
}

.feedback-form select option {
  background-color: var(--color-bg);
  color: var(--color-text-cold);
  font-family: "TypedText";
}

.form-btn {
  display: block;
  margin-left: auto;
  margin-right: 3.86vw;
  margin-bottom: 6.76vw;
}

/*футер*/
.logo-footer {
  width: calc(100% - 7.72vw);
  height: auto;
  margin-left: 3.86vw;
  display: block;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 6.76vw;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 4.35vw;
  margin-left: 3.86vw;
  margin-top: 4.35vw;
}

.footer-link {
  color: var(--color-text-cold);
  text-decoration: none;
  font-size: 2.9vw;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4.35vw;
  text-align: right;
  margin-right: 3.86vw;
  margin-top: 4.35vw;
  font-size: 2.9vw;
}

.footer-contacts-item {
  color: var(--color-text-cold);
  text-decoration: none;
  font-size: 2.9vw;
}

.footer-bottom {
  text-align: center;
  margin-bottom: 6.28vw;
}

.footer-bottom p {
  font-size: 2.9vw;
  color: var(--color-text-cold);
}

.logo-header {
  display: none;
}

/*адаптив пк*/
@media (min-width: 1024px) {
  .logo-link {
    display: none;
  }

  .logo-header {
    display: flex !important;
    width: 100%;
    max-width: 120vw;
    height: auto;
    display: block;
  }
  .pc-only {
    display: flex !important;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vw;
    max-width: 100%;
    padding: 0 4vw;
  }
  .heading {
    font-size: 4.4vw;
  }

  /*шапка*/
  .header {
    padding: 3vw 0;
    position:absolute;
  }
  .burger-menu {
    display: none;
  }
  .pc-nav {
    display: flex !important;
    justify-content: center;
    gap: 4vw;
  }

  .link-header {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .pc-nav-link {
    color: var(--color-text-cold);
    font-family: "Headlines";
    text-decoration: none;
    font-size: 3.1vw;
    letter-spacing: 0.1em;
  }

  /*баннер*/
  .banner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    overflow: visible;
  }

  .title-1,
  .title-2 {
    position: absolute;
    z-index: 10;
    font-family: "Headlines";
    font-size: 8vw;
    line-height: 0.9;
    color: var(--color-accent);
    margin: 0;
  }
  .title-1 {
    top: 5vw;
    left: 12vw;
  }
  .title-2 {
    top: 12vw;
    left: 28vw;
  }

  .description-1 {
    text-align: left;
    margin-bottom: 10vw;
    font-size: 1.9vw;
    margin-right: 0.75vw;
    margin-left: 4.86vw;
  }

  .image-btn-banner {
    grid-column: 2;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .img-main {
    width: 44vw;
    height: auto;
    margin-top: 6vw;
  }

  .btn-banner {
    position: absolute;
    left: -25vw;
    width: 25vw;
    height: 5vw;
    font-size: 2vw;
    border-radius: 1vw;
  }

  /*о нас*/
  .about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    align-items: center;
    padding: 0 1vw;
  }

  .about-content .description:first-of-type {
    grid-column: span 2;
    max-width: 800px;
    margin-bottom: 20px;
    font-size: 1.9vw;
    line-height: 1.6;
    margin-left: 20vw;
  }

  .about-img {
    grid-column: 1;
    width: 100%;
    max-width: 40vw;
    height: auto;
    margin: 0;
    order: unset;
  }

  .about-content .description:last-of-type {
    grid-column: 2;
    font-size: 1.9vw;
    line-height: 1.5;
    order: unset;
    margin-top: auto;
    margin-bottom: 0;
    margin-left: -5vw;
    margin-right: 3vw;
  }

  /*проекты*/
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
    grid-template-rows: auto auto;
    padding: 0 4vw;
    align-items: start;
  }

  .projects-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 !important;
  }

  .projects-img-large {
    grid-column: 1;
    grid-row: 2;
  }
  .pc-project-extra:first-of-type {
    grid-column: 1;
    grid-row: 2;
  }

  .pc-project-extra:last-of-type {
    grid-column: 1;
    grid-row: 1;
  }

  .img-small-1 {
    grid-column: 3;
    grid-row: 2;
  }

  .projects-btn-img {
    display: contents;
  }

  .img-small-2 {
    grid-column: 4;
    grid-row: 1;
  }

  .projects-btn-img .btn {
    grid-column: 4;
    grid-row: 2;
    align-self: end;
    width: 100%;
    height: 5vw;
    font-size: 2.1vw;
    border-radius: 1vw;
  }

  /*форма*/
  .feedback-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: start;
    margin-left: 4vw;
    gap: 2.4vw;
  }

  .feedback-container .heading {
    margin: 0;
  }

  .feedback-form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 5.5vw;
  }

  .feedback-form input {
    font-size: 2.5vw;
    padding-bottom: 1.86vw;
    margin-top: -4vw;
  }

  .feedback-form select {
    margin-top: -4vw;
    padding-bottom: 1.86vw;
    font-size: 2.5vw;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10L12 15L17 10' stroke='%23e7f5e7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) center;
    background-size: 5vw;
    padding-right: 2vw;
  }

  .form-btn {
    margin-top: -4vw;
    grid-column: 2;
    justify-self: end;
    width: 25vw;
    height: 5vw;
    font-size: 2vw;
    border-radius: 1vw;
    font-family: "TypedText";
  }

  /*футер*/
  .logo-footer {
    display: flex !important;
    width: 93%;
    max-width: 120vw;
    height: auto;
    display: block;
  }

  .footer-link{
    font-size: 2vw;
    margin-top: 0.09vw;
  }

  .footer-contacts-item{
    font-size: 2vw;
  }

  .footer-bottom p{
    font-size: 2vw;
    margin-top: -9.3vw;
    margin-right: 10vw;
    margin-bottom: -2vw;
  }
}
