.portfolio-controls {
  padding: 0 4.8vw;
  margin-bottom: 8vw;
}

/*поиск*/
.search-container {
  display: flex;
  gap: 2.5vw;
  margin-bottom: 6vw;
  margin-top: 3.86vw;
}

#portfolioSearch {
  flex: 1;
  background: var(--color-text-cold);
  border: none;
  border-radius: 3vw;
  padding: 2vw 5vw;
  font-size: 4.5vw;
  color: var(--color-bg);
  outline: none;
}

.search-btn {
  background: var(--color-text-warm);
  border: none;
  border-radius: 3vw;
  width: 18vw;
  height: 11.59vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
  transition: opacity 0.3s;
}

.search-btn img {
  width: 6vw;
}

.search-btn:active {
  opacity: 0.8;
}

/*фильтрация*/
.filter-container {
  display: flex;
  gap: 1.2vw;
  padding-bottom: 2vw;
}

.filter-btn {
  background: var(--color-text-warm);
  border: none;
  border-radius: 4vw;
  padding: 2vw 4.8vw;
  font-size: 3.5vw;
  color: var(--color-bg);
  white-space: nowrap;
  transition: 0.3s;
}

.filter-btn.active {
  background: var(--color-bg);
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

/*карточки*/
.heading{
    margin-bottom: 1.35vw;
}
.portfolio-grid {
  margin-bottom: 6.76vw;
}
.portfolio-card {
  display: flex;
  padding: 4vw 4.8vw;
  gap: 4vw;
  align-items: stretch;
}

.card-image {
  position: relative;
  width: 45%;
  flex-shrink: 0;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1vw;
}

.area-tag {
  font-family: "Headlines";
  position: absolute;
  top: 2vw;
  left: 2vw;
  color: var(--color-text-cold);
  font-size: 6vw;
}

.card-info {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-info h3 {
  color: var(--color-accent);
  font-size: 4.2vw;
  font-weight: normal;
  margin-bottom: 2vw;
  line-height: 1.2;
  margin-bottom: 12vw;
  font-family: "Headlines";
}

.card-info p {
  color: var(--color-text-cold);
  font-size: 3.2vw;
  line-height: 1.4;
  margin-bottom: 4vw;
}
