.portfolio-controls {
  padding: 0 4.8vw;
  margin-bottom: 8vw;
}

/*поиск*/
.search-container {
  display: flex;
  gap: 2.5vw;
  margin-bottom: 6vw;
  margin-top: 3.86vw;
}

#portfolioSearch {
  flex: 1;
  background: var(--color-text-cold);
  border: none;
  border-radius: 3vw;
  padding: 2vw 5vw;
  font-size: 4.5vw;
  color: var(--color-bg);
  outline: none;
}

.search-btn {
  background: var(--color-text-warm);
  border: none;
  border-radius: 3vw;
  width: 18vw;
  height: 11.59vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
  transition: opacity 0.3s;
}

.search-btn img {
  width: 6vw;
}

.search-btn:active {
  opacity: 0.8;
}

/*фильтрация*/
.filter-container {
  display: flex;
  gap: 1.2vw;
  padding-bottom: 2vw;
}

.filter-btn {
  background: var(--color-text-warm);
  border: none;
  border-radius: 4vw;
  padding: 2vw 4.8vw;
  font-size: 3.5vw;
  color: var(--color-bg);
  white-space: nowrap;
  transition: 0.3s;
}

.filter-btn.active {
  background: var(--color-bg);
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}

/*карточки*/
.heading {
  margin-bottom: 1.35vw;
}
.portfolio-grid {
  margin-bottom: 6.76vw;
}
.portfolio-card {
  display: flex;
  padding: 4vw 4.8vw;
  gap: 4vw;
  align-items: stretch;
}

.card-image {
  position: relative;
  width: 45%;
  flex-shrink: 0;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1vw;
}

.area-tag {
  font-family: "Headlines";
  position: absolute;
  top: 2vw;
  left: 2vw;
  color: var(--color-text-cold);
  font-size: 6vw;
}

.card-info {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: auto;
}

.card-info h3 {
  color: var(--color-accent);
  font-size: 4.2vw;
  font-weight: normal;
  margin-bottom: 2vw;
  line-height: 1.2;
  margin-bottom: 7vw;
  font-family: "Headlines";
}

.card-info p {
  color: var(--color-text-cold);
  font-size: 3.2vw;
  line-height: 1.4;
  margin-bottom: 4vw;
}

/*адаптив пк*/
@media (min-width: 1024px) {
  /*поиск и фильтрация*/
  .content {
    margin-top: 28vw;
  }

  #portfolioSearch {
    border-radius: 2vw;
    padding: 2vw 3vw;
    font-size: 2vw;
    height: 6vw;
  }

  .search-btn {
    width: 10vw;
    height: 6vw;
    border-radius: 2vw;
  }

  .search-btn img {
    width: 3.5vw;
  }

  .portfolio-controls {
    width: 40%;
    padding: 0;
    margin: 0 0 0 4vw;
  }

  .filter-btn {
    border-radius: 1vw;
    font-size: 2vw;
    transition: 0.3s;
    padding: 1vw 8vw;
    margin-top: -2vw;
  }

  .filter-container {
    margin-bottom: -4vw;
  }

  /*карточки*/
  .portfolio-card {
    margin-bottom: -4.5vw;
  }
  .card-image {
    width: 35vw;
    height: 45vw;
  }
  .card-image img {
    width: 100%;
    height: 100%;
  }

  .area-tag {
    font-size: 4vw;
  }

  .card-info {
    width: 55%;
  }

  .card-info h3 {
    font-size: 3vw;
  }

  .card-info p {
    font-size: 2vw;
    margin-bottom: 1.8vw;
    margin-top: 19vw;
  }

  .card-info a {
    width: 15vw;
    height: 5vw;
    border-radius: 1vw;
    font-size: 2vw;
  }
}
