.content {
  margin-bottom: 3.86vw;
  margin-top: 15.86vw;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vw;
  margin-right: 3vw;
}

.notification-btn img {
  width: 8vw;
  margin-left: -11vw;
}

/*ава*/
.user-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.86vw;
}

.profile-avatar {
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 4vw;
}

.profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-meta {
  width: calc(100% - 7.72vw);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 3.86vw;
  margin-right: 3.86vw;
}

.user-name {
  font-family: "Headlines";
  font-size: 7vw;
}

.user-handle {
  font-family: "Headlines";
  font-size: 6vw;
  margin-top: -1vw;
}

.settings-btn img {
  width: 7vw;
  margin-left: -10vw;
  margin-top: 3vw;
}

/*Меню*/
.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-accent);
  font-size: 7vw;
  margin-left: 0.86vw;
  margin-right: 3.86vw;
  padding: 3vw;
  font-family: "Headlines";
}

.arrow {
  width: 4vw;
}

.arrow-icon {
  width: 4vw;
  transition: transform 0.3s ease;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion.active .arrow-icon {
  transform: rotate(90deg);
}

.accordion.active .accordion-content {
  max-height: 500px;
}

/*Карточка*/
.project-mini-card {
  display: flex;
  gap: 4vw;
  padding: 3.86vw 3.86vw;
  align-items: flex-start;
}

.project-mini-card img {
  width: 45vw;
  height: 45vw;
  object-fit: cover;
}

.projects-mini-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.project-mini-info h3 {
  color: var(--color-accent);
  font-size: 6vw;
  margin-bottom: 7vw;
  font-weight: normal;
  font-family: "Headlines";
}

.project-mini-info p {
  color: var(--color-text-cold);
  font-size: 3.8vw;
  margin: 0.4vw 0;
  font-weight: 300;
}

/*адаптив пк*/
@media (min-width: 1024px) {
  .content {
    margin-top: 22vw;
  }

  .header-row {
    margin-bottom: 0;
  }

  .notification-btn img {
    width: 5vw;
    margin-top: 2vw;
  }

  .user-header {
    flex-direction: row;
    align-items: center;
    padding: 1vw 5vw;
    margin-bottom: 2vw;
  }

  .profile-avatar {
    width: 35vw;
    height: auto;
  }

  .user-meta {
    margin-top: 8vw;
  }

  .user-name {
    font-size: 4.5vw;
    line-height: 1.2;
  }

  .user-handle {
    font-size: 3.8vw;
    margin-top: 0;
  }

  .settings-btn img {
    width: 5vw;
    margin-left: 0;
    margin-top: 2.5vw;
  }

  .menu-item {
    margin-top: -2vw;
    font-size: 4vw;
  }

  .arrow {
    width: 2vw;
  }

  .arrow-icon {
    width: 2vw;
  }

  .project-mini-card{
    margin-left: 15vw;
    margin-top: -5vw;
  }
  
  .project-mini-card img {
    width: 35vw;
    height: 35vw;
    object-fit: cover;
  }

  .project-mini-info h3 {
    font-size: 3.2vw;
    margin-bottom: 19.5vw;
  }

  .project-mini-info p {
    font-size: 1.6vw;
  }

  .project-mini-info .btn {
    margin-top: 2vw;
    font-size: 2vw;
    width: 25vw;
    height: 5vw;
    border-radius: 1vw;
  }
}
